


.card-container{
	display: inline-block;
	border: solid 2px var(--theme-gray);
	margin: 10px;
	border-radius: 15px;
	background: var(--theme-yellow);
	max-width: 190px;
	max-height: 250px;
	overflow: hidden;
	transition: 0.2s ease-in-out;
}

.card-container:hover{
	transform: scale(1.05);
	box-shadow: 1px 1px 10px 4px var(--theme-blue);
}

.card{
	padding-top: 15px;
	height: 170px;
	width: 170px;
	margin: 10px;
}

.card-link-img{

}

.card-image{
	width: 100%;
	transition: 0.2s ease-in-out;
}

.card-image:hover{
	transform: scale(1.04);
}

.card_title{
	background: var(--theme-orange);
	max-height: 30px;
	overflow: hidden;
}

.card_link{
	color: var(--theme-white);
	text-decoration: none;
	font-size: 18px;

	transition: 0.2s ease-in-out;
}

.card_link:hover{
	color: var(--theme-gray);
}